html p {
  font-size: 13px !important;
}

html * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  line-height: 18px;
}

a {
  color: #0088cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
